* {
    font-family: 'Fredoka', sans-serif;
    margin: 0 auto;

}

h1 {
    color: #e53170;
}





.container {
    width: 80%;
    height: 70%;
    text-align: center;
    
    

}
p{color: black;

}
div{color: white;

}

span{color: white;

}

h3{display: inline-block;

}

.email{ color: lightskyblue;

}

.box {
    float: left;
    background-color: #0f0e17;
    border: 2px solid;
    width: calc(30% - 20px);
    height: 100px;
    margin-top: 70px;
    margin-left: 50px;
    
    

}
.foto{float: left;
      width: 100px;
      height: 100px;

}
