* {
    font-family: 'Fredoka', sans-serif;
    margin: 0 auto;

}

h1 {
    color: #e53170;
}



.container {
    width: 80%;
    height: 70%;
    text-align: center;
    marg
    

}

.box {
    float: left;
    background-color: #0f0e17;
    border: solid;
    width: 300px;
    height: 100px;
    margin-top: 70px;
    

}